@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #149dcc !important;
}
.bg-success {
  background-color: #63e27a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #149dcc !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #63e27a !important;
  border-color: #63e27a !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #27d246 !important;
  border-color: #27d246 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #27d246 !important;
  border-color: #27d246 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #23bc3f;
  color: #23bc3f;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #63e27a;
  border-color: #63e27a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #63e27a !important;
  border-color: #63e27a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #149dcc !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #63e27a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #149dcc !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0b566f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #23bc3f !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #0b566f !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #149dcc;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #149dcc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b4e6f8;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #149dcc;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #149dcc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #149dcc;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #149dcc;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #149dcc;
  border-bottom-color: #149dcc;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #149dcc !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23149dcc' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-rXbmX16ZV3 {
  background-image: url("../../../assets/images/mbr-1920x1371.jpg");
}
.cid-rXbmX16ZV3 .icons-media-container {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 4rem;
}
.cid-rXbmX16ZV3 .icons-media-container .mbr-iconfont {
  font-size: 96px;
  color: #ffffff;
}
.cid-rXbmX16ZV3 .icons-media-container .icon-block {
  padding-bottom: 1rem;
}
.cid-rXbmX16ZV3 .mbr-text {
  color: #ffffff;
}
.cid-rXbmX16ZV3 .card {
  padding-bottom: 1.5rem;
}
.cid-rXbmX16ZV3 H1 {
  text-align: center;
}
.cid-rXbmX16ZV3 .mbr-text,
.cid-rXbmX16ZV3 .mbr-section-btn {
  color: #ffffff;
}
.cid-rXbmX16ZV3 H5 {
  color: #ffffff;
}
.cid-rXbwCs6bcs {
  padding-top: 90px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-rXbwCs6bcs h2 {
  text-align: center;
}
.cid-rXbwCs6bcs h3 {
  text-align: center;
  font-weight: 300;
}
.cid-rXbwCs6bcs p {
  color: #767676;
}
.cid-rXbwCs6bcs img {
  object-fit: cover;
}
.cid-rXbwCs6bcs .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-rXbwCs6bcs .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-rXbwCs6bcs .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
.cid-rXbwCs6bcs .mbr-section-subtitle {
  color: #232323;
}
.cid-rXbwCs6bcs .card-title {
  font-weight: 500;
}
.cid-rXbwCs6bcs .card-img {
  text-align: inherit;
}
.cid-rXbwCs6bcs .card-img span {
  font-size: 48px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-rXbwCs6bcs .mbr-figure {
    padding-right: 2rem;
    padding-left: 2rem;
    height: 100%;
  }
}
@media (max-width: 991px) {
  .cid-rXbwCs6bcs .mbr-figure {
    padding-bottom: 2rem;
    padding-top: 1rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-rXbwCs6bcs .block-content {
    flex-direction: row;
    -webkit-flex-direction: row;
    text-align: center;
  }
  .cid-rXbwCs6bcs .block-content .card {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
  }
  .cid-rXbwCs6bcs .card:nth-child(1) {
    padding-bottom: 0!important;
  }
}
.cid-rXbAQNusR5 .navbar {
  background: #393636;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-rXbAQNusR5 .navbar-dropdown.bg-color.transparent.opened {
  background: #393636;
}
.cid-rXbAQNusR5 a {
  font-style: normal;
}
.cid-rXbAQNusR5 .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rXbAQNusR5 .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rXbAQNusR5 .nav-item:focus,
.cid-rXbAQNusR5 .nav-link:focus {
  outline: none;
}
.cid-rXbAQNusR5 .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rXbAQNusR5 .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rXbAQNusR5 .menu-logo {
  margin-right: auto;
}
.cid-rXbAQNusR5 .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rXbAQNusR5 .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rXbAQNusR5 .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rXbAQNusR5 .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rXbAQNusR5 .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rXbAQNusR5 .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rXbAQNusR5 .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rXbAQNusR5 .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rXbAQNusR5 .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rXbAQNusR5 .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rXbAQNusR5 .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rXbAQNusR5 .dropdown .dropdown-menu {
  background: #393636;
  visibility: hidden;
  display: block;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rXbAQNusR5 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rXbAQNusR5 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rXbAQNusR5 .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rXbAQNusR5 .dropdown.open > .dropdown-menu {
  visibility: visible;
}
.cid-rXbAQNusR5 .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rXbAQNusR5 .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rXbAQNusR5 .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rXbAQNusR5 .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rXbAQNusR5 .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rXbAQNusR5 .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rXbAQNusR5 .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rXbAQNusR5 button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rXbAQNusR5 button.navbar-toggler:focus {
  outline: none;
}
.cid-rXbAQNusR5 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #333333;
}
.cid-rXbAQNusR5 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rXbAQNusR5 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rXbAQNusR5 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rXbAQNusR5 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rXbAQNusR5 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rXbAQNusR5 nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rXbAQNusR5 nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rXbAQNusR5 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rXbAQNusR5 .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rXbAQNusR5 .collapsed .btn {
  display: -webkit-flex;
}
.cid-rXbAQNusR5 .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rXbAQNusR5 .collapsed .navbar-collapse.collapsing,
.cid-rXbAQNusR5 .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rXbAQNusR5 .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rXbAQNusR5 .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rXbAQNusR5 .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rXbAQNusR5 .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rXbAQNusR5 .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rXbAQNusR5 .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rXbAQNusR5 .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rXbAQNusR5 .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-rXbAQNusR5 .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-rXbAQNusR5 .collapsed button.navbar-toggler {
  display: block;
}
.cid-rXbAQNusR5 .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rXbAQNusR5 .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rXbAQNusR5 .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rXbAQNusR5 .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rXbAQNusR5 .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rXbAQNusR5 .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-rXbAQNusR5.navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rXbAQNusR5 img {
    height: 3.8rem !important;
  }
  .cid-rXbAQNusR5 .btn {
    display: -webkit-flex;
  }
  .cid-rXbAQNusR5 button.navbar-toggler {
    display: block;
  }
  .cid-rXbAQNusR5 .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rXbAQNusR5 .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rXbAQNusR5 .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rXbAQNusR5 .navbar-collapse.collapsing,
  .cid-rXbAQNusR5 .navbar-collapse.show {
    display: block !important;
  }
  .cid-rXbAQNusR5 .navbar-collapse.collapsing .navbar-nav,
  .cid-rXbAQNusR5 .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rXbAQNusR5 .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rXbAQNusR5 .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rXbAQNusR5 .navbar-collapse.collapsing .navbar-buttons,
  .cid-rXbAQNusR5 .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rXbAQNusR5 .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rXbAQNusR5 .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rXbAQNusR5 .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rXbAQNusR5 .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rXbAQNusR5 .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rXbAQNusR5 .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rXbAQNusR5 .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rXbAQNusR5 .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rXbAQNusR5 .nav-link:hover,
.cid-rXbAQNusR5 .dropdown-item:hover {
  color: #767676 !important;
}
.cid-rXbB8PYT6q {
  padding-top: 90px;
  padding-bottom: 30px;
  background-color: #465052;
}
.cid-rXbB8PYT6q h2 {
  text-align: left;
}
.cid-rXbB8PYT6q h4 {
  text-align: left;
  font-weight: 500;
}
.cid-rXbB8PYT6q p {
  color: #767676;
  text-align: left;
}
.cid-rXbB8PYT6q .aside-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-rXbB8PYT6q .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-rXbB8PYT6q .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rXbB8PYT6q .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-rXbB8PYT6q .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-rXbB8PYT6q .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-rXbB8PYT6q .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rXbB8PYT6q .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 300px) {
  .cid-rXbB8PYT6q .card-img span {
    font-size: 40px !important;
  }
}
.cid-rXbB8PYT6q H2 {
  color: #efefef;
}
.cid-rXbB8PYT6q .mbr-text {
  color: #efefef;
}
.cid-rXbB8PYT6q H4 {
  color: #efefef;
}
.cid-rXbB8PYT6q P {
  color: #efefef;
  text-align: left;
}
.cid-rXbGpXFYtL {
  padding-top: 90px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rXbGpXFYtL h3 {
  font-weight: 300;
}
.cid-rXbGpXFYtL .card-img {
  width: initial;
}
.cid-rXbGpXFYtL .card-img .mbr-iconfont {
  font-size: 48px;
  padding-right: 1rem;
}
.cid-rXbGpXFYtL .media-container-row {
  word-wrap: break-word;
  padding-bottom: 2rem;
  min-height: 100%;
}
.cid-rXbGpXFYtL .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rXbGpXFYtL .mbr-section-subtitle {
  color: #767676;
}
.cid-rXbGpXFYtL .mbr-text {
  color: #767676;
  text-align: left;
}
.cid-rXbGpXFYtL .media-container-column {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
}
.cid-rXbGpXFYtL .mbr-al-i-c {
  align-items: center;
}
.cid-rXbJROM6nZ {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-rXbJROM6nZ .mbr-section-subtitle,
.cid-rXbJROM6nZ .mbr-text {
  color: #767676;
}
.cid-rXbJROM6nZ .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rXbJROM6nZ .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-rXbJROM6nZ .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rXbJROM6nZ .card-wrapper .card-img .mbr-overlay {
  background-color: #ffffff;
  display: none;
  transition: opacity .3s;
}
.cid-rXbJROM6nZ .card-wrapper .card-img .mbr-section-btn {
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  left: 0;
  top: 50%;
  height: auto;
  transform: translateY(-50%);
}
.cid-rXbJROM6nZ .card-wrapper .card-img img {
  width: 100%;
}
.cid-rXbJROM6nZ .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-rXbJROM6nZ .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-rXbJROM6nZ .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
}
.cid-rXbJROM6nZ .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.cid-rXbJROM6nZ .card-img .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-rXbJROM6nZ .card-img .mbr-section-btn {
  opacity: 0;
}
.cid-rXbJROM6nZ .card-img:hover .mbr-overlay {
  opacity: .5;
}
.cid-rXbJROM6nZ .card-img:hover .mbr-section-btn {
  opacity: 1;
}
.cid-rXbJROM6nZ .mbr-section-subtitle {
  text-align: left;
}
.cid-rXbVmzsy1N {
  padding-top: 90px;
  padding-bottom: 45px;
  background-color: #879a9f;
}
.cid-rXbVmzsy1N h3 {
  text-align: center;
  font-weight: 300;
}
.cid-rXbVmzsy1N .progress {
  width: 100%;
}
.cid-rXbVmzsy1N .title-wrap {
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.cid-rXbVmzsy1N progress {
  height: 8px;
}
.cid-rXbVmzsy1N .progressbar-number {
  display: inline-block;
}
.cid-rXbVmzsy1N .progress-primary {
  background: rgba(206, 206, 206, 0.4);
  border: none;
  outline: none;
}
.cid-rXbVmzsy1N .progress-primary::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-rXbVmzsy1N .mbr-section-subtitle {
  color: #efefef;
}
.cid-rXbVmzsy1N .section-content-title {
  font-weight: 500;
  color: #ffffff;
}
.cid-rXbVmzsy1N .progress_value {
  position: relative;
}
.cid-rXbVmzsy1N .progress1 .progressbar-number:before,
.cid-rXbVmzsy1N .progress2 .progressbar-number:before,
.cid-rXbVmzsy1N .progress3 .progressbar-number:before,
.cid-rXbVmzsy1N .progress4 .progressbar-number:before,
.cid-rXbVmzsy1N .progress5 .progressbar-number:before {
  position: absolute;
  right: 15px;
  top: 0;
}
.cid-rXbVmzsy1N progress[value]::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-rXbVmzsy1N progress::-webkit-progress-value {
  background: #63e27a;
}
.cid-rXbVmzsy1N progress[value]::-moz-progress-bar {
  background: #63e27a;
}
.cid-rXbVmzsy1N progress::-ms-fill {
  background: #63e27a;
}
.cid-rXbVmzsy1N .progress1 .progressbar-number:before {
  content: '100';
}
.cid-rXbVmzsy1N .progress2 .progressbar-number:before {
  content: '22';
}
.cid-rXbVmzsy1N .progress3 .progressbar-number:before {
  content: '6';
}
.cid-rXbVmzsy1N .progress4 .progressbar-number:before {
  content: '70';
}
.cid-rXbVmzsy1N .progress5 .progressbar-number:before {
  content: '60';
}
@media (min-width: 768px) {
  .cid-rXbVmzsy1N .text-elements {
    padding-right: 3rem;
  }
  .cid-rXbVmzsy1N .progress_elements {
    padding-left: 3rem;
  }
}
.cid-rXbVmzsy1N .mbr-section-title {
  color: #efefef;
}
.cid-rXbVmzsy1N .section-content-text {
  color: #efefef;
}
.cid-rXbVmzsy1N .progressbar-title p,
.cid-rXbVmzsy1N .progress_value {
  color: #efefef;
}
.cid-rXc4LoZ5BN {
  padding-top: 90px;
  padding-bottom: 45px;
  background-color: #cccccc;
}
.cid-rXc4LoZ5BN .title {
  margin-bottom: 2rem;
}
.cid-rXc4LoZ5BN .mbr-section-subtitle {
  color: #767676;
}
.cid-rXc4LoZ5BN a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-rXc4LoZ5BN a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-rXc4LoZ5BN textarea.form-control {
  min-height: 188px;
}
.cid-rXc6CGWFi5 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-rXc6CGWFi5 .carousel-control {
  background: #000;
}
.cid-rXc6CGWFi5 .mbr-section-subtitle {
  color: #767676;
}
.cid-rXc6CGWFi5 .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rXc6CGWFi5 .carousel-item .media-container-row {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-rXc6CGWFi5 .carousel-item .wrap-img {
  text-align: center;
}
.cid-rXc6CGWFi5 .carousel-item .wrap-img img {
  max-height: 150px;
  width: auto;
  max-width: 100%;
}
.cid-rXc6CGWFi5 .carousel-controls {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rXc6CGWFi5 .carousel-controls .carousel-control {
  background: #000;
  border-radius: 50%;
  position: static;
  width: 40px;
  height: 40px;
  margin-top: 2rem;
  border-width: 1px;
}
.cid-rXc6CGWFi5 .carousel-controls .carousel-control.carousel-control-prev {
  left: auto;
  margin-right: 20px;
  margin-left: 0;
}
.cid-rXc6CGWFi5 .carousel-controls .carousel-control.carousel-control-next {
  right: auto;
  margin-right: 0;
}
.cid-rXc6CGWFi5 .carousel-controls .carousel-control .mbr-iconfont {
  font-size: 1rem;
}
.cid-rXc6CGWFi5 .cloneditem-1,
.cid-rXc6CGWFi5 .cloneditem-2,
.cid-rXc6CGWFi5 .cloneditem-3,
.cid-rXc6CGWFi5 .cloneditem-4,
.cid-rXc6CGWFi5 .cloneditem-5 {
  display: none;
}
.cid-rXc6CGWFi5 .col-lg-15 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}
@media (min-width: 992px) {
  .cid-rXc6CGWFi5 .col-lg-15 {
    -ms-flex: 0 0 20%;
    -webkit-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    width: 20%;
  }
  .cid-rXc6CGWFi5 .carousel-inner.slides2 > .carousel-item.active.carousel-item-right,
  .cid-rXc6CGWFi5 .carousel-inner.slides2 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  .cid-rXc6CGWFi5 .carousel-inner.slides2 > .carousel-item.active.carousel-item-left,
  .cid-rXc6CGWFi5 .carousel-inner.slides2 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  .cid-rXc6CGWFi5 .carousel-inner.slides2 > .carousel-item.carousel-item-left,
  .cid-rXc6CGWFi5 .carousel-inner.slides2 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rXc6CGWFi5 .carousel-inner.slides2 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rXc6CGWFi5 .carousel-inner.slides2 .cloneditem-1,
  .cid-rXc6CGWFi5 .carousel-inner.slides2 .cloneditem-2,
  .cid-rXc6CGWFi5 .carousel-inner.slides2 .cloneditem-3 {
    display: block;
  }
  .cid-rXc6CGWFi5 .carousel-inner.slides3 > .carousel-item.active.carousel-item-right,
  .cid-rXc6CGWFi5 .carousel-inner.slides3 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(33.333333%, 0, 0);
    transform: translate3d(33.333333%, 0, 0);
  }
  .cid-rXc6CGWFi5 .carousel-inner.slides3 > .carousel-item.active.carousel-item-left,
  .cid-rXc6CGWFi5 .carousel-inner.slides3 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-33.333333%, 0, 0);
    transform: translate3d(-33.333333%, 0, 0);
  }
  .cid-rXc6CGWFi5 .carousel-inner.slides3 > .carousel-item.carousel-item-left,
  .cid-rXc6CGWFi5 .carousel-inner.slides3 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rXc6CGWFi5 .carousel-inner.slides3 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rXc6CGWFi5 .carousel-inner.slides3 .cloneditem-1,
  .cid-rXc6CGWFi5 .carousel-inner.slides3 .cloneditem-2,
  .cid-rXc6CGWFi5 .carousel-inner.slides3 .cloneditem-3 {
    display: block;
  }
  .cid-rXc6CGWFi5 .carousel-inner.slides4 > .carousel-item.active.carousel-item-right,
  .cid-rXc6CGWFi5 .carousel-inner.slides4 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
  .cid-rXc6CGWFi5 .carousel-inner.slides4 > .carousel-item.active.carousel-item-left,
  .cid-rXc6CGWFi5 .carousel-inner.slides4 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }
  .cid-rXc6CGWFi5 .carousel-inner.slides4 > .carousel-item.carousel-item-left,
  .cid-rXc6CGWFi5 .carousel-inner.slides4 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rXc6CGWFi5 .carousel-inner.slides4 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rXc6CGWFi5 .carousel-inner.slides4 .cloneditem-1,
  .cid-rXc6CGWFi5 .carousel-inner.slides4 .cloneditem-2,
  .cid-rXc6CGWFi5 .carousel-inner.slides4 .cloneditem-3 {
    display: block;
  }
  .cid-rXc6CGWFi5 .carousel-inner.slides5 > .carousel-item.active.carousel-item-right,
  .cid-rXc6CGWFi5 .carousel-inner.slides5 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
  .cid-rXc6CGWFi5 .carousel-inner.slides5 > .carousel-item.active.carousel-item-left,
  .cid-rXc6CGWFi5 .carousel-inner.slides5 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
  .cid-rXc6CGWFi5 .carousel-inner.slides5 > .carousel-item.carousel-item-left,
  .cid-rXc6CGWFi5 .carousel-inner.slides5 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rXc6CGWFi5 .carousel-inner.slides5 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rXc6CGWFi5 .carousel-inner.slides5 .cloneditem-1,
  .cid-rXc6CGWFi5 .carousel-inner.slides5 .cloneditem-2,
  .cid-rXc6CGWFi5 .carousel-inner.slides5 .cloneditem-3,
  .cid-rXc6CGWFi5 .carousel-inner.slides5 .cloneditem-4 {
    display: block;
  }
  .cid-rXc6CGWFi5 .carousel-inner.slides6 > .carousel-item.active.carousel-item-right,
  .cid-rXc6CGWFi5 .carousel-inner.slides6 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(16.666667%, 0, 0);
    transform: translate3d(16.666667%, 0, 0);
  }
  .cid-rXc6CGWFi5 .carousel-inner.slides6 > .carousel-item.active.carousel-item-left,
  .cid-rXc6CGWFi5 .carousel-inner.slides6 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-16.666667%, 0, 0);
    transform: translate3d(-16.666667%, 0, 0);
  }
  .cid-rXc6CGWFi5 .carousel-inner.slides6 > .carousel-item.carousel-item-left,
  .cid-rXc6CGWFi5 .carousel-inner.slides6 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rXc6CGWFi5 .carousel-inner.slides6 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rXc6CGWFi5 .carousel-inner.slides6 .cloneditem-1,
  .cid-rXc6CGWFi5 .carousel-inner.slides6 .cloneditem-2,
  .cid-rXc6CGWFi5 .carousel-inner.slides6 .cloneditem-3,
  .cid-rXc6CGWFi5 .carousel-inner.slides6 .cloneditem-4,
  .cid-rXc6CGWFi5 .carousel-inner.slides6 .cloneditem-5 {
    display: block;
  }
}
.cid-rXbY9b8mFM {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
@media (max-width: 767px) {
  .cid-rXbY9b8mFM .content {
    text-align: center;
  }
  .cid-rXbY9b8mFM .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.cid-rXbY9b8mFM .map {
  height: 18.75rem;
}
@media (max-width: 767px) {
  .cid-rXbY9b8mFM .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-rXbY9b8mFM .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-rXbY9b8mFM .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rXbY9b8mFM .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-rXbY9b8mFM .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rXbY9b8mFM .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rXbY9b8mFM .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rXbY9b8mFM .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rXbY9b8mFM .google-map {
  height: 25rem;
  position: relative;
}
.cid-rXbY9b8mFM .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-rXbY9b8mFM .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-rXbY9b8mFM .google-map[data-state] {
  background: #e9e5dc;
}
.cid-rXbY9b8mFM .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
